---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from '@layouts/PageLayout.astro';

import Badge from "@components/Badge.astro";
import DateFormat from '@components/DateFormat.astro';
import dayjs from 'dayjs';

import { getCollection } from 'astro:content';
const coll = await getCollection('blog');
const posts = coll.sort((a, b) => dayjs(b.data.date).unix() - dayjs(a.data.date).unix()).filter(p => !p.data.draft);

---

<Layout title="Blog posts" description="A list of the most recent blog posts from Miles">
	<div class="container">
	<h1 class="text-align:center marginY:2rem">Blog posts</h1>
	{posts.map(post => (
		<article class="marginY:2rem">
			<h2 class="h3"><a href={`/posts/${post.slug}`}>{post.data.title}</a></h2>
			<div class="font-size:$font-size-0">Published on <DateFormat date={post.data.date} /></div>
			<div class="tags">
				{post.data.tags && post.data.tags.map(tag => (
					<Badge>{tag}</Badge>
				))}
			</div>
			<div class="summary">{post.data.summary}</div>
		</article>
	))}
	</div>
</Layout>
