---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, noindex = false } = Astro.props;

const suffix = import.meta.env.DEV === true ? "-dev" : "";
const version = APP_VERSION + suffix;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<link rel="canonical" href={canonicalURL} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="sitemap" href="/sitemap-index.xml">

<meta name="theme-color" content="#00326b" />
<meta name="darkreader-lock">

<meta name="version" content={version} />
<meta name="generator" content={Astro.generator} />

{noindex && <meta name="robots" content="noindex">}

{import.meta.env.PROD === true &&
<script data-goatcounter="https://miles.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script async defer src="https://analytics.umami.is/script.js" data-website-id="b39d1bb0-8d36-47d1-b78f-dc1e19fdc4c2"></script>
}
