---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Svg from '@jasikpark/astro-svg-loader';

interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;
const icon = "logo-" + name.toLowerCase();
---

<a {href} rel="me">
	<!-- Unfortunately, dynamic imports are a problem, so hardcode these for now -->
	{name === "Discord" &&
		<Svg src={import("@svg-icons/ionicons-solid/logo-discord.svg?raw")} aria-label={name} />
	}

	{name === "GitHub" &&
		<Svg src={import("@svg-icons/ionicons-solid/logo-github.svg?raw")} aria-label={name} />
	}

	{name === "Mastodon" &&
		<Svg src={import("@svg-icons/ionicons-solid/logo-mastodon.svg?raw")} aria-label={name} />
	}

	{name === "Twitch" &&
		<Svg src={import("@svg-icons/ionicons-solid/logo-twitch.svg?raw")} aria-label={name} />
	}

	{name === "YouTube" &&
		<Svg src={import("@svg-icons/ionicons-solid/logo-youtube.svg?raw")} aria-label={name} />
	}
</a>

<style lang="scss">
	svg {
		margin-right: 8px;
		height: 36px;
		width: 36px;
		&:hover {
			color: white;
		}
	}
</style>
